@charset "UTF-8";

html {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #fff;
  color: #333;
}

body {
  margin: 0;
}

h1,h2 {
  font-family: "Sawarabi Mincho","Hiragino Mincho Pro","Yu Mincho",serif;
}

.title {
  width: 20em;
  max-width: 100%;
  margin: 5em auto 5em auto;
  padding-bottom: 1em;
  text-align: center;
  border-bottom: 2px solid #333;
}

.title h1 {
  margin: 0;
}

.site-list {
  overflow: hidden;
  margin: 0 auto 5em auto;
  padding: 0 1em;
  width: 80em;
  max-width: 100%;
  box-sizing: border-box;
}

.site {
  width: 50%;
  margin: 0 auto 0 auto;
  float: left;
}

.site-inner {
  padding: 0 1em;
}

.site-inner h2 {
  margin: 0;
}

.thumb {
  display: block;
  margin-top: 0.5em;
}

.thumb img {
  display: block;
  width: 100%;
  height: auto;
  border: 1px solid #808080;
  border-radius: 3px;
}

.thumb:hover img {
  opacity: 0.6;
}

@media screen and (max-width: 759px) {
  .site {
    width: 100%;
    float: none;
  }
}
